@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Monserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Inter */
:root {
	--primary: #0c356a;
	--primary-light: #425d81;
	--secondary: #ff6c22;
	--secondary-hover: #b55220;
}

body {
	font-family: "Montserrat", sans-serif;
}

header {
	background-color: var(--primary);
}

#title {
	background-color: var(--primary);
	color: var(--secondary);
	height: 520px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.button-secondary {
	background-color: var(--secondary);
	color: white;
}
.button-secondary:hover {
	color: white;
	background-color: var(--secondary-hover);
}

h1 {
	font-size: 3.5rem;
	line-height: 1.5;
	/* font-weight: ; */
}
h2 {
	font-weight: bold;
	color: #fff;
	font-size: 2.5rem;
	line-height: 1.5;
	padding: 5%;
	padding-bottom: 0;
}

.container-fluid {
	padding: 3% 15%;
}


/*Navbar*/

.navbar-brand img {
	border-radius: 10px;
	width: 206px;
	padding: 7px;
	background-color: #f8f8f8;
}
.navbar-brand img:hover {
	box-shadow: rgba(3, 3, 3, 0.658) 4px 1px 13px -1px;
}
.navbar-brand {
	font-size: 2.5rem;
	font-weight: bold;
	padding: 10px;
}
.navbar {
	padding: 0 0 2.0rem;
}
.nav-item {
	padding: 0 18px;
	font-size: 1.5rem;
}
.download-button {
	margin: 5% 0;
	background: var(--secondary);
	color: white;
}
.download-button:hover {
	background-color: var(--secondary);
	color: white;
	box-shadow: rgba(3, 3, 3, 0.658) 4px 1px 13px -1px;
}

.title-img {
	width: 100%;
	position: relative;
	z-index: 1;
}

.navbar a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

.navbar a:hover {
	color: var(--secondary);
	transform: scale(1.2);
}

/*features*/
h3 {
	font-weight: bolder;
	font-size: 1.5rem;
}
p {
	color: #8f8f8f;
}
.icon:hover {
	color: var(--secondary);
}
#features {
	padding: 8% 15%;
	background-color: white;
	position: relative;
	z-index: 1;
}
.feature-box {
	padding: 5%;
	text-align: center;
}

.testimonials-img {
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

#press {
	background-color: var(--primary);
	text-align: center;
	padding-bottom: 15px;
	height: 300px;
}
.press-img {
	width: 15%;
	margin: 20px 20px 50px;
	padding-top: 60px;
}
.carousel-inner {
	padding: 3% 15%;
	text-align: center;
}
.signup-button {
	border-color: var(--secondary);
	color: var(--secondary);
	width: 400px;
}

.signup-button:hover {
	border-color: var(--secondary);
	background-color: var(--secondary);
	color: white;
}
#pricing {
	padding: 100px;
	text-align: center;
}
.pricing-table {
	padding: 3% 2%;
}

.explore {
	color: white;
	font-size: 1.5rem;
	margin-top: 5px;
}

#cta {
	background-color: var(--primary);
	padding: 9% 15%;
	text-align: center;

}

.ctah3 {
	color: white;
	font-size: 3rem;
	line-height: 1.5;
	font-weight: bolder;
}

.cta-button {
	margin: 10px;
	margin-top: 60px;
}

#footer {
	padding: 6% 15%;
	text-align: center;
	background-color: #fff;
}

.social {
	padding: 0.6%;
	padding-bottom: 2%;
}



@media (max-width: 1028px) {
	#title {
		text-align: center;
	}

	#title form {
		text-align: left;
	}

	.title-img {
		position: static;
		width: 50%;
		margin-top: 15px;
		margin-bottom: 180px;
	}
}

@media (max-width: 500px) {
	#pricing {
		padding: 0 40px;
	}
	.signup-button {
		width: 100%;
	}
}
